<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.itemservice.dao.ItemDao">
    
    <select id="selectAllItems" 
            resultType="ResponseItemVO">
        SELECT ITEM_ID
             , ITEM_NAME
             , STOCK
             , UNIT_PRICE
             , TO_CHAR(CREATE_AT, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_AT
          FROM ITEMS
    </select>
  
    <insert id="insertItem"
            parameterType="CreateItemVO">
        <selectKey order="BEFORE" resultType="string" keyProperty="itemId">
            SELECT 'ITM-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_ITEMS_PK.NEXTVAL, 6, '0')
              FROM DUAL
        </selectKey>
        
        INSERT INTO ITEMS
         (ITEM_ID
        , ITEM_NAME
        , STOCK
        , UNIT_PRICE
        , CREATE_AT)
        VALUES
         (#{itemId}
        , #{itemName}
        , #{stock}
        , #{unitPrice}
        , SYSDATE)
    </insert>
    
    <select id="selectItemById" 
            parameterType="string"
            resultType="ResponseItemVO">
        SELECT ITEM_ID
             , ITEM_NAME
             , STOCK
             , UNIT_PRICE
             , TO_CHAR(CREATE_AT, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_AT
          FROM ITEMS
         WHERE ITEM_ID = #{_parameter}
    </select>
  
</mapper>
